# node_modules
node_modules/

# log
*.log

# build
build/
dist/

# coverage
coverage/

# ide
.idea/
*.iml

# cache
.cache*

# vscode
.vscode

# checkstyle
checkstyle-result.xml

# for mac os
.DS_Store

# log
*.log
